@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'adwa-assalaf';
  font-size: larger;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #e6f2ff;
  height: 150vh;
}
